
PROJECT_ROOT="/path/to/somewhere"
WPTHEME_PATH="$PROJECT_ROOT/wp-root"

koproj_newtab
koproj_renametab "VAGRANT"
koproj_run "cd $PROJECT_ROOT" 
koproj_run "clear"
koproj_run 'sudo /etc/init.d/vboxdrv start'
koproj_run './bin/vagrant up'

koproj_newtab
koproj_renametab "VM"
koproj_run "cd $PROJECT_ROOT" 
koproj_run "clear"

koproj_newtab
koproj_renametab "FORGE"
koproj_run "cd $WPTHEME_PATH" 
koproj_run "clear"
koproj_run "be forge watch"

koproj_newtab
koproj_renametab "ASSETS"
koproj_run "cd $WPTHEME_PATH/source/assets" 
koproj_run "clear"

koproj_newtab
koproj_renametab "JS"
koproj_run "cd $WPTHEME_PATH/source/assets/javascripts" 
koproj_run "clear"

koproj_newtab
koproj_renametab "CSS"
koproj_run "cd $WPTHEME_PATH/source/assets/stylesheets" 
koproj_run "clear"

koproj_newtab
koproj_renametab "FUNCTIONS"
koproj_run "cd $WPTHEME_PATH/source/functions" 
koproj_run "clear"

koproj_newtab
koproj_renametab "TEMPLATES"
koproj_run "cd $WPTHEME_PATH/source/templates" 
koproj_run "clear"

